/* =================== Mobile Device Start =========== */
@media screen and (max-width: 600px) {
  /* =============== nav part start ========== */
  .navParent {
    justify-content: space-around;
  }
  .nav_link {
    display: none;
  }
  .MenuIcon {
    display: block;
    font-size: 1.8rem;
    color: #000;
  }
  /* =============== nav part end ========== */

  /* =============== banner part start ========== */
  .formfirst {
    flex-direction: column;
    row-gap: 25px;
  }
  input[type="text"],
  .inputBtn,
  select {
    width: 100%;
  }
  /* =============== banner part end ========== */

  /* ==================================================
                      popular_part css start here
     ================================================== */
  body {
    padding: 0 20px;
  }
  #poplular {
    padding: 30px 0;
  }
  .popularMain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .everst {
    width: 100%;
  }
  .Primary_btn {
    margin-bottom: 30px;
    margin-left: 5px;
    margin-top: 10px;
  }

  /* ==================================================
                        polular_part css end here
       ================================================== */

  /* ==================================================
                      Destination_part css start here
     ================================================== */
  .distinationImg {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 25px;
  }
  .one {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
  }
  .two {
    grid-column: 1 / span 12;
    grid-row: 2 / span 1;
  }
  .three {
    grid-column: 1 / span 12;
    grid-row: 3 / span 1;
  }
  .four {
    grid-column: 1 / span 12;
    grid-row: 4 / span 1;
  }
  .five {
    grid-column: 1 / span 12;
    grid-row: 5 / span 1;
  }
  .six {
    grid-column: 1 / span 12;
    grid-row: 6 / span 1;
  }
  .seven {
    grid-column: 1 / span 12;
    grid-row: 7 / span 1;
  }
  /* ==================================================
                        Destination_part css end here
       ================================================== */

  /* ==================================================
                      chooese_part css start here
     ================================================== */
  .chooseCard {
    width: 100%;
  }
  /* ==================================================
                        choose_part css end here
       ================================================== */

  /* ==================================================
                      deal_part css start here
     ================================================== */
  #deal {
    padding: 0 0 50px;
  }
  .dealbox img {
    height: 635px;
    width: 100%;
  }
  .infoOverlay {
    padding: 25px 35px 25px 25px;
    height: 400px;
    max-width: 90%;
    top: 30%;
  }
  .boxtwo .infoOverlay {
    top: 30%;
  }
  .overlayTop {
    flex-wrap: wrap;
    row-gap: 25px;
  }
  .secondaryBtn {
    padding: 10px 25px;
    margin-bottom: 0;
  }
  .overlayPrice {
    margin-bottom: 0px;
  }

  /* ==================================================
                        deal_part css end here
       ================================================== */
  /* ==================================================
                     video_part css start here
     ================================================== */
  #video {
    padding: 0 0 60px;
    background-color: var(--white);
  }
  #video img {
    width: 100%;
  }
  .videoText {
    max-width: 600px;
  }
  .videoMain {
    flex-direction: column;
    justify-content: center;
  }
  .videoText__title {
    font-size: 2.9rem;
    font-weight: 700;
    margin-bottom: 30px;
  }
  /* ==================================================
                      video_part css end here
     ================================================== */

  /* ==================================================
                      newsletter_part css start here
     ================================================== */
  #newsletter img {
    width: 100%;
  }
  .textOverlayBox {
    top: 22%;
    right: 7%;
    padding: 10px;
  }
  .newsInputBox {
    width: 100%;
    margin-bottom: 30px;
  }
  .horizontal-line {
    width: 100%;
  }
  /* ==================================================
                      newsletter_part css end here
     ================================================== */

  /* ==================================================
                      team_part css end here
     ================================================== */
  #team {
    padding: 10px 0 55px;
    background-color: var(--white);
  }
  .profileOne {
    margin-bottom: 30px;
  }
  /* ==================================================
                      tean_part css end here
     ================================================== */

  /* 
    =======================================================================================================
                                          Footer_part--css start here
  =========================================================================================================*/
  .iconFooter {
    font-size: 1.9rem;
  }
  .socialIcon {
    margin-bottom: 50px;
  }
  /* =======================================================================================================
                                          Footer_part--css end here
    =========================================================================================================*/
}
